* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cormorant", serif;
  background-image: url(../img/background.jpg);
  background-color: #111111;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 8rem;
  font-weight: normal;
  color: #ececec;
  text-shadow: 0px 1px 4px #191919;
  line-height: 90px;
  margin-top: 1rem;
  margin-bottom: 2.4rem;
}

h1 span {
  font-size: 3rem;
}

.header {
  text-align: center;
  margin-top: 3rem;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 14px;
  max-width: 1640px;
  margin: auto;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem;
}

.column img {
  vertical-align: middle;
  width: 100%;
  border-radius: 0.4rem;
  filter: sepia(30%) hue-rotate(-350deg) contrast(120%);
}

.column img.berta{
  filter: sepia(30%) hue-rotate(-357deg) contrast(103%);
}

.column img.wheeler{
  filter: sepia(20%) hue-rotate(-365deg) contrast(103%);
}

.column img.janet{
  filter: sepia(40%) hue-rotate(-365deg) contrast(115%);
}

.column img.thomas{
  filter: sepia(50%) hue-rotate(-365deg) contrast(97%);
}

.column .character-name {
  display: flex;
  justify-content: center;
}

.column .text-name {
  width: 100%;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 300;
  color: #ebb159;
  line-height: 3rem;
  margin: 1rem 0rem 0.4rem;
  text-shadow: 1px 0px 6px black;
}

@media only screen and (max-width: 1425px) and (min-width: 801px) {
  .column .text-name {
    font-size: 2.7vw;
    line-height: 4.8vh;
    margin: 0.3rem 0rem 0.4rem;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 6rem;
    line-height: 60px;
  }
  h1 span {
    font-size: 2rem;
  }
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  body {
    background-size: auto;
  }
  h1 {
    font-size: 16vw;
  }
  h1 span {
    font-size: 8vw;
  }
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

}

@media screen and (max-width: 850px) {
    .header {
    margin-top: 0.8rem;
}
}

@media screen and (max-width: 340px) {
.column .text-name {
  font-size: 10.4vw;
}
}