h1 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
  color: var(--primary-dark-color);
  text-align: center;
}

.container {
  width: 100%;
  display: grid;
}

main.grid-main {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}
main.grid-main .grid-wrapper {
  display: flex;
  justify-content: center;
}

header.grid-main {
  /* Main menu */
  display: grid;
  position: sticky;
  top: 0;
  min-height: 6rem;
  background-color: var(--primary-dark-color-10);
  grid-column-start: 1;
  grid-column-end: 5;
}

header.grid-main .grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header.grid-main nav.header-top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.125rem;
  padding: 0 1.2rem;
  background-color: var(--primary-dark-color);
}

header.grid-main nav.header-top p {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--primary-light-color);
}

header.grid-main nav.header-top p .separate {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  line-height: 0;
  font-weight: 800;
}

header.grid-main nav.header-top p .lang-picker {
  margin-left: 0.4rem;
}

header.grid-main .grid-wrapper .h1-title {
  color: var(--primary-dark-color);
  font-size: 2.625rem;
  font-weight: 300;
  text-align: center;
}

/* Options */

.grid-wrapper .latest .options-area {
  height: 9.4rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  align-items: center;
}

button.btn-share,
button.btn-search,
button.show-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  width: 26.25rem;
  height: 4rem;
  border-radius: 6px;
  color: var(--primary-light-color);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 1rem;
  cursor: pointer;
}

button.btn-share {
  background-color: var(--secondary-light-a);
  margin-right: 1rem;
}

button.btn-share:hover {
  background-color: var(--secondary-light-a-70);
  transition: all 250ms ease;
}

button.btn-search {
  background-color: var(--secondary-light-b);
  margin-left: 1rem;
}

button.btn-search:hover {
  background-color: var(--secondary-light-b-70);
  transition: all 250ms ease;
}

@media only screen and (min-width: 521px) and (max-width: 768px) {
  .grid-wrapper .latest .options-area {
    height: 7rem;
  }

  button.btn-share,
  button.btn-search {
    width: 20rem;
    height: 3.6rem;
    font-size: 1rem;
  }

  button.btn-share {
    margin-right: 0.5rem;
  }

  button.btn-search {
    margin-left: 0.5rem;
  }
}

@media only screen and (min-width: 160px) and (max-width: 520px) {
  .grid-wrapper .latest .options-area {
    height: unset;
    flex-direction: column;
  }

  button.btn-share,
  button.btn-search,
  button.show-more {
    width: 100%;
    height: 3.6rem;
    font-size: 1rem;
  }

  button.btn-share {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  button.btn-search {
    margin-left: 0;
  }
}

/* Options */

/* Card */

section .grid-cars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card {
  max-width: 23rem;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-header img {
  width: 100%;
  height: auto;
}

.card-summary {
  padding: 1rem 1rem 0 1rem;
  min-height: 13.125rem;
}

.card-summary h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-dark-color);
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.card-summary p {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--primary-grey-color);
  line-height: 1.125rem;
  text-align: justify;
}

.card-footer {
  padding: 0.4rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.card-footer .employee-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-footer .employee-profile label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-grey-color);
  margin-bottom: 0.4rem;
}

.card-footer .employee-profile .input-employee,
.input-people,
.input-date {
  height: 2.5rem;
  border: 1px solid #d2d2d2;
  padding: 0.4rem;
  border-radius: 6px;
  background-color: #f6f6f6;
  margin-bottom: 0.8rem;
}

.grid-cars .card .card-footer button {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 700;
  border: 0;
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  height: 2.5rem;
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.grid-cars .card .card-footer button:hover {
  background-color: #4d81ff;
  transition: all 250ms ease;
}

@media only screen and (min-width: 769px) and (max-width: 1160px) {
  section .grid-cars {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 768px) {
  section .grid-cars {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 520px) {
  .card {
    max-width: unset; /* reset demo styles*/
    margin-right: 0;
  }
}

/* End Card */

.show-more-area {
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-more-area button.show-more {
  background-color: var(--primary-light-color);
  color: var(--primary-dark-color);
  border: 1px solid var(--primary-dark-color);
}

.show-more-area button.show-more:hover {
  opacity: 0.5;
  transition: all 250ms ease;
}

.show-more-area button.show-more img {
  width: 32px;
  height: auto;
}

@media (max-width: 520px) {
  section .grid-cars {
    grid-template-columns: 1fr;
  }
  .dropdown-header {
    max-width: unset; /* Reset demo styles*/
  }
  .dropdown-content {
    max-width: unset; /* Reset demo styles*/
  }
  .gpt-button {
    max-width: unset; /* Reset demo styles*/
  }
  select {
    max-width: unset; /* Reset demo styles*/
  }
}

/* Fixed width 1440px is maintained ONLY within high resolutions up to 1440px */
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .grid-main .grid-wrapper {
    width: 1440px;
    margin: 0 auto;
  }
}
/* End Fixed container width 1440px */

@media only screen and (max-width: 1440px) {
  .grid-main .grid-wrapper {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {
  header.grid-main {
    position: unset;
  }

  .grid-main .grid-wrapper {
    padding: 0 1rem;
  }

  .latest {
    grid-column-start: 1;
    grid-column-end: 5;
    min-height: unset;
  }

  section article .article-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section article .article-contents .article-img {
    margin-right: unset;
    width: 100%;
  }

  section article .article-contents .article-text {
    margin: 1.4rem 0 0 0;
  }

  nav .a-main-menu {
    display: none;
  }

  header.grid-main {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: unset;
  }
  header.grid-main .grid-wrapper img {
    margin-right: 0;
    width: 3.5rem;
  }

  header.grid-main p {
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  header.grid-main .grid-wrapper .h1-title {
    font-size: 1.8rem;
  }

  .grid-main .grid-wrapper .latest h2 {
    font-size: 1.8rem;
  }
}

/***   Form   ***/
.publisher {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 19rem;
  background-color: var(--secondary-light-b-70);
  border-radius: 6px;
  margin-right: 1rem;
}

.side-bar_header,
.side-bar_body,
.side-bar_footer {
  padding: 1rem;
}

.side-bar_header p,
.side-bar_header span {
  color: var(--primary-light-color);
}

.side-bar_header p {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem 0;
}

.side-bar_header span {
  font-size: 1rem;
  font-weight: 400;
}

.side-bar_body {
  background-color: var(--secondary-light-b-40);
  display: flex;
  flex-direction: column;
}

.side-bar_body label,
.title-dates {
  font-weight: 800;
  font-size: 1rem;
  color: #121212;
}

.new-ctg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  margin: 0.7rem 0 1.7rem;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  background-color: var(--secondary-dark-color);
  color: var(--primary-light-color);
  height: 2.5rem;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.new-ctg:hover {
  background-color: var(--secondary-dark-color-70);
  transition: all 250ms ease;
}

.category-picker {
  border: 1px solid #797979;
  height: 2.5rem;
  margin: 0.5rem 0 1.6rem;
  background-color: var(--primary-light-color);
  border-radius: 6px;
  font-size: 0.875rem;
  color: var(--primary-grey-color);
}

.input-people {
  margin: 0.5rem 0 1.5rem;
}

.side-bar_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-light-b-10);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.title-dates {
  margin: 0.5rem 0 1rem;
}

.date-picker {
  display: flex;
  justify-content: flex-start;
}

.date-picker span {
  font-size: 0.9rem;
  color: #121212;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
}

.date-picker img {
  margin-bottom: 0.75rem;
}

.date-picker .input-date {
  width: 6rem;
  height: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: var(--primary-grey-color);
  margin-right: 0.4rem;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.btn-filter-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  width: 16.875rem;
  height: 2.5rem;
  border-radius: 6px;
  background-color: var(--secondary-light-b-70);
  color: var(--primary-light-color);
  font-size: 1rem;
  font-weight: 700;
  padding: 0 0.8rem;
  cursor: pointer;
}

.btn-filter-search:hover {
  opacity: 0.7;
  transition: all 250ms ease;
}

.btn-filter-search span {
  text-align: center;
  width: 100%;
}

.publish {
  border: 1px dashed #0000ff88;
  width: 100%;
}

/*** End Form ***/

/*** Form responsive ***/

@media (max-width: 768px) {
  .publisher {
    flex-direction: column;
    justify-content: unset;
  }
  .side-bar,
  .publish {
    width: 100%;
  }
  .side-bar_footer .btn-filter-search {
    width: 100%;
  }
}

/*** End Form responsive ***/
