:root {
    --primary-dark-color: #071d49;
    --primary-dark-color-10: #e6e8ed;
    --primary-light-color: #ffffff;
    --primary-grey-color: #444444;
    --secondary-light-a: #ff8307;
    --secondary-light-a-70: #ffa851;
    --secondary-light-b: #9200e6;
    --secondary-light-b-70: #b24ced;
  }