/* Reset */
html * {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Noto Sans Lepcha", sans-serif;
  color: #555555;
}
/* End Reset */

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: lighter;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.row {
  display: flex;
}

.grid-container {
  width: 100%;
  display: grid;
}

.grid-container.three-cols {
  grid-template-rows: auto auto auto; /* define the number of columns you need*/
  grid-template-columns: 12.5% 75% 12.5%; /* define columns width*/
  /* grid-template-columns: 1fr 3fr 1fr; define columns width with fractions */
  grid-gap: 10px 0 10px 0;
}

.grid-item {
  /* margin: 1px; Use just to see spacing within blocks */
  padding: 0 1rem;
}

main.grid-main {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
}
main.grid-main .grid-wrapper {
  display: flex;
  align-items: center;
}

header.grid-main {
  /* This is the main menu */
  display: grid;
  position: sticky;
  top: 0;
  min-height: 6rem;
  background-color: #1c1c1c;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

header.grid-main .grid-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.grid-main .grid-wrapper .logo {
  display: flex;
  min-width: 12rem;
}
header.grid-main .grid-wrapper .logo img {
  margin-right: 1rem;
  width: 4.4rem;
  height: auto;
}
header.grid-main .grid-wrapper .logo .logo-title {
  color: #ffa500;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
}
header.grid-main .grid-wrapper .logo .logo-title > span {
  color: #00dcff;
}
div.grid-item {
  /* sidebar styles */
  background-color: #e0e0e0;
}

section.grid-item {
  /* section styles */
  min-height: 30rem;
  background-color: #f0f0f0;
  width: 100%;
}

section article {
  border-bottom: 1px solid #dadada;
  padding-bottom: 1.4rem;
}

section article .article-title {
  color: #4f6493;
  font-weight: lighter;
}
section article .article-contents {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
section article .article-img {
  border: 1px solid #c0c0c0;
  border-radius: 2%;
  width: 180px;
  height: auto;
  margin-right: 1.2rem;
}
section article .article-contents .article-text {
  margin: 0;
}

aside.grid-item {
  /* aside styles */
  background-color: #f9f9f9;
}

/* Responsive menu mobile */
#mobileNav {
  display: none;
}
header .btn-burguer {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: azure;
}
/* End Responsive menu mobile */

/* Desktop menu */
nav .a-main-menu,
.overlay a {
  font-family: "Noto Sans Lepcha", sans-serif;
  font-size: large;
  color: azure;
  text-decoration: none;
  margin: 0 10px;
}
.a-main-menu {
  /* Underline styles */
  position: relative;
  padding: 0.2em 0;
}

.a-main-menu::after {
  /* Fade in */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: azure;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.a-main-menu:hover::after,
.a-main-menu:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

nav .a-main-menu::after {
  /* Scale from center */
  transform: scale(0);
  transform-origin: center;
}
nav .a-main-menu:hover::after,
nav .a-main-menu:focus::after {
  transform: scale(1);
} /* End Underline styles */
/* End Desktop menu */

footer {
  background-color: #181818;
}
.footer-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper .footer-txt {
  font-size: 0.8rem;
  font-weight: 600;
  color: #c0c0c0;
  -webkit-user-select: none;
  user-select: none;
}
.footer-wrapper .social-media {
  text-decoration: none;
  opacity: 0.8;
}

.footer-wrapper .social-media:hover {
  opacity: 1;
  transition: 0.3s;
}

.footer-wrapper .social-media img {
  margin-right: 1rem;
  width: 32px;
  height: auto;
}

/***** Masonry *****/
/*****         *****/
main.grid-main.masonry,
section.grid-item.masonry {
  background-color: #000;
}
.grid-item.masonry h1 {
  color: #fff;
}
.gallery {
  /* From 1280px resolution and higher */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 1.4rem 0;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 520px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .gallery div {
    box-sizing: border-box;
    width: 100%;
    max-height: 240px;
    margin-bottom: 10px;
    overflow: hidden;
  }
}
/***** End Masonry *****/
/*****             *****/

/***** GPT *****/
/*****     *****/

/* Dropdown*/
.gallery-gpt-components {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
section.grid-item {
  background-color: unset;
}
.gpt-component-item {
  padding: 0.4rem;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-user-select: none;
  user-select: none;
  max-width: 15rem; /* just for demo*/
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: auto;
  transform: rotate(45deg);
  transition: transform 0.1s ease-in-out;
}

.arrow.up {
  transform: rotate(225deg);
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  display: none;
  top: 50px;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 15rem; /* just for demo*/
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
  display: block;
}

/* End Dropdown*/

/* Button */
.gpt-button {
  background-color: #66a3ff;
  font-family: "Noto Sans Lepcha", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0.7rem 0.7rem;
  width: 100%;
  max-width: 200px; /* just for demo*/
}

.gpt-button.success {
  background-color: #09971c;
}

.gpt-button.error {
  background-color: #d50000;
}

.gpt-button.warning {
  background-color: #fd8b00;
}

.gpt-button:hover {
  background-color: #3385ff;
}

.gpt-button:active {
  background-color: #4080e1;
}

.gpt-button:disabled {
  background-color: #c7c7c7;
  color: #525252;
  cursor: not-allowed;
}

.gpt-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #66a3ff;
}

/* End Button */

@media (max-width: 768px) {
  .gallery-gpt-components {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 520px) {
  .gallery-gpt-components {
    grid-template-columns: 1fr;
  }
  .dropdown-header {
    max-width: unset; /* Reset demo styles*/
  }
  .dropdown-content {
    max-width: unset; //* Reset demo styles*/
  }
  .gpt-button {
    max-width: unset; //* Reset demo styles*/
  }
}

/***** End GPT *****/
/*****         *****/

/* Fixed width 1440px is maintained ONLY within high resolutions up to 1440px */
@media only screen and (min-width: 1440px) and (max-width: 2560px) {
  .grid-main .grid-wrapper {
    width: 1440px;
    margin: 0 auto;
  }
}
/* End Fixed container width 1440px */

@media only screen and (max-width: 1440px) {
  .grid-main .grid-wrapper {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 768px) {

  header.grid-main {
    position: unset;
  }
  
  .grid-main .grid-wrapper {
    padding: 0 1rem;
  }

  .grid-item {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  section.grid-item {
    min-height: unset;
  }

  section article .article-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section article .article-contents .article-img {
    margin-right: unset;
    width: 100%;
  }

  section article .article-contents .article-text {
    margin: 1.4rem 0 0 0;
  }

  nav .a-main-menu {
    display: none;
  }

  /* Responsive menu mobile */

  #mobileNav {
    display: block;
  }
  header .btn-burguer {
    display: block;
  }
  .overlay {
    display: block;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 0.5rem;
    display: block;
    transition: 0.2s;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    font-size: 60px;
  }
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 3rem;
    top: 0rem;
    right: 0.2rem;
  }
  /* End Responsive menu mobile */

  header.grid-main .logo {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: unset;
  }
  header.grid-main .grid-wrapper .logo img {
    margin-right: 0;
    width: 3.5rem;
  }

  header.grid-main .grid-wrapper .logo .logo-title {
    font-size: 1rem;
  }

  header.grid-main p {
    margin: 0;
  }
}
