body {
  background-color: #323232;
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 0px;
  background-attachment: scroll, fixed;
  background-image: url(../../images/mask.png), url(../../images/bground.jpg);
  /* url("../../assets/css/images/pexels-photo-129208.jpg");*/
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
body a {
  color: #307095;
  transition: 0.3s;
}

body a:hover {
  color: #00273f;
  text-decoration: none;
}

.container.gallery-container {
  background-color: #ebebeb;
  color: #35373a;
  min-height: 100vh;
  padding: 1.8em 3.7em;
}

.gallery-container h1 {
  text-align: center;
  margin: 2rem auto;
  font-family: 'Rosario', sans-serif;
  font-weight: 300;
  font-size: 5vh;
  letter-spacing: 0.3em;
  padding-bottom: 0.6em;
  color: #323232bf;
}

.gallery-container hr {
  border-top: 1px solid #c8c8c8;
}

.tz-gallery {
  padding: 0px;
}

.tz-gallery .row div > div {
  padding-left: 0px;
  padding-right: 0px;
}

.tz-gallery .row div .title-work {
  font-family: 'Rosario', sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0px;
  margin:10px auto 20px;
}

.tz-gallery .row div .title-work span {
  margin-left: 0.5em;
  font-weight: 400;
  color: #5c5c5c;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 0.7em;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 42%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 2.5em;
  font-family: 'Glyphicons Halflings';
  content: '\e003';
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}


.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84%;
  opacity: 0;
  background-color: rgba(229, 229, 229, 0.45);
  content: '';
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) and (min-width: 0px) {
  body {
      padding: 0;
  }
  .container.gallery-container {
    margin-top: 0em;
    padding: 24px 30px;
    border-radius: unset;
  }
}

@media(max-width: 768px) and (min-width: 768px) {
  .container {
    width: 768px;
  }
}